$colors: (
  white: #ffffff,
  black: #181c2e,
  graylight: #e6e6e6,
  red: #f90045,
);

$spacings: (
  small: 5px,
  medium: 10px,
  big: 20px,
  huge: 40px
);

$fontSizes: (
  small: 12px,
  normal: 14px,
  medium: 16px,
  large: 20px
);

// this overrides bootstrap default breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$desktopHeaderHeight: 120px;
$contentWrapper: 1200px;

